@charset "utf-8";
/* CSS Document */

/* global skin */
#cbg-main-nav .logo
, .g-foot-able .able-item i
, .m-share i{ background: url(../Images/img_con_base.png) no-repeat;}

/* cn skin */
.g-foot-able .qrcode b, .m-share .qrcode b, .cbg-submenu .col-sns .qrcode b{ background: url(../Images/img_con_cn_base.png) no-repeat;}
 
/*reset Start*/
ul, ol {
    list-style: none;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
address, cite, dfn, em, var {
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    font-family: "Microsoft Yahei","Heiti SC","SimHei","SimSun", Arial, Helvetica, sans-serif;
}

body.cbg {
  font-size: 0.8em; color: #333;
}
body.cbg-lang-zh-cn {
  font-family: "Microsoft YaHei", "&#24494;&#36719;&#38597;&#40657;", sans-serif;     background-color: #fff;
}
.cbg a {
  color: #333; text-decoration: none;
}
.cbg a:hover {
  color: #c52525;
}
.search-button-a{ border:1px solid #ccc; border-radius:2px; color: #ccc; width:80px; height:26px; float:right; line-height:26px;}

.cbg *:active,
.cbg *:focus {
  outline: none;
}
.cbg-box-right .cbg-phones{ margin:0 !important;padding:0 !important;}
.cbg-box-left li{ padding:0 19px !important;}
@media(max-width: 1200px) {
.cbg-box-left li{ padding:0 15px !important;}}
/* Main content container */
#cbg-main {
  min-width: 1000px; margin-top: 0px; padding-top:67px;
}

/* Top wrapper */
#cbg-top-wrapper {
  position: absolute; z-index: 1100; top: 0; left: 0; width: 100%; height: auto;
}

/* Top nav */
#cbg-top-nav {
  width: 100%; height: 30px; overflow: hidden; background-color: #333333;
}

/* Branches */
#cbg-branches {
  float: left;
}
  #cbg-branches li {
    height: 22px; padding: 8px 1em 0 1em;
  }
  #cbg-branches li.cbg-first {
    /*padding-left: 0;*/
  }
  #cbg-branches li.cbg-current,
  #cbg-branches li:hover {
    background: #606060;
  }
  #cbg-branches a {
    color: #ccc;
  }
  #cbg-branches li.cbg-current a {
    color: #fff;
  }
  #cbg-branches li {
    position: relative;
  }
  #cbg-branches li.cbg-current span {
    display: block; position: absolute; left: 50%; top: 26px; margin-left: -5px; width: 10px; height: 6px; background: url(../Images/img_con_cn_sprites_cbg_icon.png) no-repeat; background-position: -44px -395px;
  }

/* Member */
#cbg-header-member {
  float: right; height: 30px; margin-left: 1em; background-color: #c52525;
}
  #cbg-header-member li {
    padding: 8px 1em;
  }
  #cbg-header-member li {
    border-right: dotted #ccc 1px;
  }
  #cbg-header-member li.cbg-last {
    border-right: none;
  }
  #cbg-header-member .cbg-logged-in {
    display: none;
  }
  #cbg-header-member .cbg-not-logged-in {
  }


/*
-----------------------------
Main nav 
-----------------------------
*/
#cbg-main-nav-wrapper {
  position: absolute; z-index: 1100; top: 0px; left: 0; width: 100%; height: auto;
}
#cbg-main-nav {
  position: relative; width: 100%; height: 67px;
}
  #cbg-main-nav > .cbg-overlay {
    position: absolute; left: 0; top: 0; width: 100%; height: 67px; background-color: #fff; opacity: 0.95; filter: alpha(opacity=95);
  }
  #cbg-main-nav > .cbg-wrapper {
    position: relative; height: 100%;
  }
  #cbg-main-nav > .cbg-wrapper > ul.cbg-inline {
    float: left;
  }
  #cbg-main-nav .logo {
    display: block; float: left; width: 131px; height: 31px; margin-top: 15px; margin-right: 15px; text-indent: -9999px; background-position: -428px -313px;
  }
  #cbg-main-nav li > a {
    display: block; padding: 0 15px; text-align: center; color: #333; font-size: 16px;
  }
  #cbg-main-nav li > a > span {
    display: block; line-height: 65px; margin-top: 1px; border-bottom: transparent solid 3px;
  }
  #cbg-main-nav li.cbg-current > a > span {
    color: #c52525; border-bottom-color: #c52525; display:block;
   
  }
  #cbg-main-nav li > a > span > em {
    display: inline-block; width: 10px; height: 10px; margin-top: 4px; margin-left: 5px; background: url('../Images/img_con_cn_sprites_cbg_1.png') no-repeat; background-position: -517px -3px;
  }
.cbg ul.cbg-inline > li {
    float: left;
}
/* Search box */
#cbg-main-nav-search {
  position: relative; float: right; margin-top: 22px; min-width: 100px;
}
  #cbg-main-nav-search form {
    float: right;
  }
  #cbg-main-nav-search input[type=text] {
    width: 100px; height: 21px; padding: 0 10px; float: left; vertical-align: middle;
    background-color: #fafafa; border: #e5e5e5 solid 1px; border-radius: 4px; font-size: 11px; line-height: 21px;
  }
  #cbg-main-nav-search input:focus {
    outline: none; background-color: #f5f5f5;
  }
  #cbg-main-nav-search input[type=submit] {
    width: 29px; height: 23px; margin-left: -10px; text-indent: -9999px; border: none; cursor: pointer;
    background: url(../Images/img_con_base.png) no-repeat; background-position: -309px -86px;
  }
  #cbg-main-nav-search input[type=submit]:hover {
    background-position: -309px -109px;
  }
  #cbg-main-nav-search .cbg-icon-search {
    position: absolute; left: 20px; top: 2px; cursor: pointer; display: none;
  }


/*liule*/



/* Fixed nav */
#cbg-main-nav-wrapper.fixed {
  position: fixed; top: 0;
}
  #cbg-main-nav-wrapper.fixed #cbg-main-nav {
    height: 61px;
  }
  #cbg-main-nav-wrapper.fixed #cbg-main-nav > .cbg-overlay {
    height: 61px;
  }
  #cbg-main-nav-wrapper.fixed #cbg-main-nav .logo {
    margin-top: 12px;
  }
  #cbg-main-nav-wrapper.fixed #cbg-main-nav li > a { float: left; height: 61px; }
  #cbg-main-nav-wrapper.fixed #cbg-main-nav .login > a{ height: 37px; }
    #cbg-main-nav-wrapper.fixed #cbg-main-nav li > a > span{ line-height: 59px; height: 59px; }
  }
  #cbg-main-nav-wrapper.fixed #cbg-main-nav li.simple > a{
    padding-top: 0; height: 30px; margin-top: 14.5px;
  }
  #cbg-main-nav-wrapper.fixed #cbg-main-nav li.simple > a > span{ line-height: 30px; }
    #cbg-main-nav-wrapper.fixed #cbg-main-nav li.simple.hover > .simple-a{}
    #cbg-main-nav-wrapper.fixed #cbg-main-nav li.simple li a{padding-top: 0; height: 30px; }

/* main nav sub-menu */
#cbg-submenu-wrapper {
  position: absolute; width: 100%; height: 480px; overflow: hidden;
}
.cbg-submenu {
  display: none;
  position: absolute; z-index: 1000; left: 0px; top: 0px; width: 100%; height: auto; min-height: 200px;
  color: #fff; box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.57);
}
  .cbg-submenu .cbg-overlay {
    position: absolute; left: 0; top: 0; background-color: #000;
  }
  .cbg-submenu .cbg-overlay-right {
    width: 100%; height: 100%; opacity: 0.70; filter: alpha(opacity=70);
  }
  .cbg-submenu .cbg-overlay-left {
    width: 77.5%; height: 100%; opacity: 0.80; filter: alpha(opacity=80);
  }
  .cbg-submenu .cbg-content {
    position: relative; z-index: 10;
  }
  .cbg-submenu ul.cbg-wrapper {
    position: relative;
  }
  .cbg-submenu ul.cbg-wrapper > li {
    width: 15%; padding: 1em 2.5% 3em 2.5%; text-align: center;
  }
  .cbg-submenu .col-product {
    position: relative;
    border-right: rgb(50, 50, 50) solid 1px;
    border-right: rgba(155, 155, 155, 0.15) solid 1px;
  }
  .cbg-submenu.cbg-2cols .col-product.col-2,
  .cbg-submenu.cbg-4cols .col-product.col-4,
  .cbg-submenu.cbg-5cols .col-product.col-5 {
    border-right: none;
  }
  .cbg-submenu .col-product .cbg-overlay {
    opacity: 0; filter: alpha(opacity = 0); width: 100%; height: 100%; transition: all linear 0.2s;
  }
  .cbg-submenu .col-product:hover .cbg-overlay {
    opacity: 0.8; filter: alpha(opacity = 80);
  }
  .cbg-submenu .col-product a:hover p {
    color: #ccc;
  }
  .cbg-submenu.cbg-series1 .col-product h4 {
    margin: 1em 0; color: #666;
  }
  .cbg-submenu.cbg-series1 .col-product h4 em {
    margin-right: 0.2em; font-size: 2em;
  }
  .cbg-submenu.cbg-series2 .col-product h4 {
    margin: 0.5em 0 1em 0; color: #c52525; font-size: 2em;
  }
  .cbg-submenu.cbg-series2 .col-product h4 em {
    color: #fff;
  }
  .cbg-submenu.cbg-series2 .col-product h4 strong {
    color: #c52525;
  }
  .cbg-submenu.cbg-series2 ul.cbg-wrapper > li {
    padding-bottom: 2em;
  }
  .cbg-submenu.cbg-series3 .col-product h4 {
    margin: 1em 0; color: #666; text-align: center; font-size: 1.5em;
  }

  .cbg-submenu.cbg-emui .col-product .cbg-img {
    padding-top: 4em; opacity: 0.75; filter: alpha(opacity = 75);
  }
  .cbg-submenu.cbg-emui .col-product .cbg-img a {
    display: block; margin: 1em 0; margin-bottom: 2em; color: #fff; text-align: center; font-size: 1.5em;
  }
  .cbg-submenu.cbg-emui .col-product .cbg-img a span {
    display: block; width: 80px; height: 57px; margin: 0 auto; margin-bottom: 1em; background: url(../Images/img_con_cn_sprites_emui.png) no-repeat;
  }
  .cbg-submenu.cbg-emui .col-product.col-1 .cbg-img a span {
    background-position: 0 0;
  }
  .cbg-submenu.cbg-emui .col-product.col-2 .cbg-img a span {
    background-position: -80px 0;
  }
  .cbg-submenu.cbg-emui .col-product.col-3 .cbg-img a span {
    background-position: -160px 0;
  }
  .cbg-submenu.cbg-emui .col-product.col-4 .cbg-img a span {
    background-position: -240px 0;
  }
  .cbg-submenu.cbg-emui .col-product.col-5 .cbg-img a span {
    background-position: -320px 0;
  }

  .cbg-submenu .col-product h5 {
    font-size: 2em; color: #c52525;
  }
  .cbg-submenu .col-product h5 em {
    color: #c52525;
  }
  .cbg-submenu .col-product p {
  }
  .cbg-submenu .col-product div.cbg-img {
    width: 100%;
  }
  .cbg-submenu.cbg-2cols .col-product div.cbg-img {
    margin-top: -5em;
  }
  .cbg-submenu.cbg-2cols .col-product p {
    margin-top: -2em;
  }
  .cbg-submenu .col-product div.cbg-img img {
    max-width: 100%;
  }
  .cbg-submenu .cbg-content a.cbg-btn {
    display: block; width: 6em; margin: 0em auto; margin-top: 1em; padding: 0.5em 1em; font-size: 0.8em; opacity: 0; filter: alpha(opacity=0);
    background-color: #c52525; color: #ccc; border-color: #c52525;
  }
  .cbg-submenu .cbg-content:hover a.cbg-btn {
    opacity: 1; filter: alpha(opacity=100); transition: all linear 0.2s;
  }
  .cbg-submenu .cbg-content:hover a.cbg-btn:hover {
    color: #fff;
  }
  /* SNS column */
  .cbg-submenu ul.cbg-wrapper > li.col-sns {
    position: relative; width: 16%; padding-left: 3.5%; padding-right: 0; text-align: left;
  }
  
  .cbg-submenu li.col-sns ul {
    margin: 1em 0 2em 0;
  }
  .cbg-submenu li.col-sns ul li {
    margin: 0.5em 0.5em 0.5em 0;
  }
  .cbg-submenu .cbg-icon-qqweibo{ position: relative;}
  .cbg-submenu .qrcode{ display: none; position: absolute; top: 72px; left: -30px; padding: 5px; border: solid 1px #999; box-shadow: 0 0 4px rgba(0,0,0,.5); background: #fff;}
  .cbg-submenu .qrcode b{ display: block; width: 108px; height: 108px;}
  .cbg-submenu a:hover .qrcode{ display: block;}
  .cbg-submenu li.col-sns h4 {
    font-size: 1.2em; margin: 1em 0;
  }
  .cbg-submenu .cbg-view-all {
    position: relative; width: 100%; padding: 0.8em 0; text-align: center; font-size: 1.5em;
    border-top: rgb(50, 50, 50) solid 1px;
    border-top: rgba(155, 155, 155, 0.15) solid 1px;
  }
  .cbg-submenu .cbg-view-all > a {
    position: relative; left: 2.5%;
  }
  .cbg-submenu .col-product .cbg-view-all {
    margin-top: 1em; border-top: none;
  }
  /* Column widths */
  .cbg-submenu.cbg-5cols ul.cbg-wrapper > li {
    width: 13%; height: 290px; padding: 2em 1.5% 3em 1.5%;
  }
  .cbg-submenu.cbg-5cols ul.cbg-wrapper > li.col-sns {
    width: 16%; padding: 2em 0 0 3.5%;
  }

  .cbg-submenu.cbg-4cols ul.cbg-wrapper > li {
    width: 15%; padding: 2em 2.5% 3em 2.5%;
  }
  .cbg-submenu.cbg-series3 ul.cbg-wrapper > li {
    width: 20%; padding: 2em 1% 3em 1%;
  }
  .cbg-submenu.cbg-series3 ul.cbg-wrapper > .fixw{ width: calc(20% - 2px);}
  .cbg-submenu.cbg-4cols ul.cbg-wrapper > li.col-sns {
    width: 16%; padding-left: 3.5%; padding-right: 0; padding-bottom: 0;
  }

  .cbg-submenu.cbg-2cols ul.cbg-wrapper > li {
    width: 30%; padding: 2em 1.5% 3em 1.5%;
  }
  .cbg-submenu.cbg-2cols ul.cbg-wrapper > li.col-sns
  ,.cbg-submenu.cbg-series3 ul.cbg-wrapper > li.col-sns {
    width: 20%; padding-left: 9%;
  }
  @media (max-width: 1000px) {
    .cbg-submenu ul.cbg-wrapper.cbg-4cols > li {
      width: 17%; padding: 1%;
    }
    .cbg-submenu .col-product p {
      font-size: 1.2em;
    }
  }

/* Footers */
#cbg-customer-cares {
  padding: 2em 0;
}
  #cbg-customer-cares ul.cbg-inline > li {
    width: 33%; margin-right: 0; border-right: #eee solid 1px;
  }
  #cbg-customer-cares ul.cbg-inline > li.cbg-last {
    border-right: none;
  }
  #cbg-customer-cares ul.cbg-inline > li > .cbg-wrapper {
    margin-left: 15%;
  }
  #cbg-customer-cares h3 {
    float: left; width: 75px; padding-top: 80px; text-align: center; font-size: 1.3em;
    background: url('../Images/sprites_1.png') no-repeat;
  }
    #cbg-customer-cares li.col-1 h3 {
      background-position: -160px -74px;
    }
    #cbg-customer-cares li.col-2 h3 {
      background-position: 0px -74px;
    }
    #cbg-customer-cares li.col-3 h3 {
      background-position: -81px -74px;
    }
  #cbg-customer-cares ul.cbg-inline ul {
    float: right; width: 50%; margin-top: 1em;
  }
  #cbg-customer-cares ul.cbg-inline ul li {
    margin-bottom: 1em;
  }


#cbg-footer-nav {
  position: relative; padding: 0; line-height: 16px; font-size: 12px;
}
  #cbg-footer-nav a {
    color: #999;
  }
  #cbg-footer-nav a:hover {
    color: #fff;
  }
  #cbg-footer-nav .cbg-overlay {
    position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgb(59,59,59); ;
  }
  #cbg-footer-nav .cbg-wrapper {
    position: relative;
  }
  #cbg-footer-nav h3 {
    margin-bottom: 1em; font-size: 1.5em; color: #fff;
  }
  #cbg-footer-nav h4{font-size: 1em;padding-bottom: 1em;}
  #cbg-footer-nav .cbg-wrapper > ul > li {
    padding: 2em 0;
  }
  body #cbg-footer-nav .cbg-wrapper > ul > li.cbg-last {
    width: 30%; min-height: 230px; padding-left: 4.5%;
    border-left: rgb(50, 50, 50) solid 1px;
    border-left: rgba(155, 155, 155, 0.15) solid 1px;
  }
	@media (max-width: 1300px){
		body #cbg-footer-nav .cbg-wrapper > ul > li.cbg-last{ width: 20%;}
	}
	body #cbg-footer-nav .cbg-wrapper > ul > li{ width: 155px; padding: 2em 0;}
	body #cbg-footer-nav .cbg-wrapper > .web-links li li{ width: 100%; line-height: 14px; margin: 0.8em 0;}
    
  #cbg-footer-nav ul ul li {
    width: 100%; line-height: 14px; margin: 0.8em 0;
  }
  #cbg-footer-nav .col-sns > ul {
    margin-bottom: 1em;
  }
  #cbg-footer-nav .col-sns li {
    width: auto; margin-right: 0.5em;
  }
  @media (min-width: 1200px) {
    #cbg-footer-nav .col-sns li {
      margin-right: 2em;
    }
  }
  #cbg-footer-nav .col-sns h3 {
    margin-bottom: 2.5em; font-size: 1em;
  }

/* Foot Share */
#cbg-footer-nav .share-hd{ margin: 5px 0 20px;}
#cbg-footer-nav .share-item{ float: left; width: 51px; height: 51px; margin-right: 30px; background: url(../Images/img_con_base.png) no-repeat;}
@media (max-width: 1200px){
    #cbg-footer-nav .share-item{ margin-right: 20px; }
}



#cbg-footer-nav .share-item a{ display: block; height: 100%; text-indent: -999em; }
#cbg-footer-nav .share-wx{ position: relative;}
#cbg-footer-nav .share-wx img{ display: none; position: absolute; top: -106px; left: 50%; margin: 0 0 0 -48px;}
#cbg-footer-nav .share-wx{ background-position: -110px -230px;}
#cbg-footer-nav .share-wx:hover{ background-position: -110px -176px;}
#cbg-footer-nav .share-ren{ background-position: -165px -231px;}
#cbg-footer-nav .share-ren:hover{ background-position: -165px -176px;}
#cbg-footer-nav .share-sina{ background-position: 0 -231px;}
#cbg-footer-nav .share-sina:hover{ background-position: 0 -176px;}
#cbg-footer-nav .share-qq{ background-position: -55px -230px;}
#cbg-footer-nav .share-qq:hover{ background-position: -55px -176px;}

#cbg-footer-links {
  padding: 1em 0; background-color: #0f1011; border-top: #222 solid 1px; font-size: 0.9em; color: #999; line-height: 15px;
}
  #cbg-footer-links li {
    margin-right: 2em;
  }
  #cbg-footer-links ul {
    float: left;
  }
  #cbg-footer-links .copyright {
    float: right;
  }
  #cbg-footer-links .copyright .cbg-icon-flag {
    margin-left: 1em; vertical-align: bottom;
  }
  #cbg-footer-links a {
    color: #999;
  }
  #cbg-footer-links a:hover {
    color: #fff;
  }
#cbg-footer-nav .first-page-overlay {
    background-color: #000;
    opacity: 0.45;
    filter: alpha(opacity=45);
}
/* classes */
.cbg .cbg-hidden {
  display: none;
}
.cbg ul.cbg-inline:after,
.cbg-clearfix:after {
  content: ''; display: block; height: 0; visibility: hidden; clear: both;
}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix {display:block;} 
.cbg .cbg-dark {
  color: #ccc;
}
.cbg .cbg-dark a {
  color: #ccc;
}
.cbg .cbg-dark a:hover {
  color: #fff;
}

/* Icons */

.cbg-icon-a {
  display: inline-block; width: 40px; height: 25px; margin-right: 2px; text-indent: -9999px;
  background: url(../Images/img_con_base.png) no-repeat;
}
/*.buy_now-x .cbg-icon {
  display: inline-block;
  vertical-align: middle; width: 40px; height: 25px; margin-right: 2px; text-indent: -9999px;
}*/
 

/* top submenu */
.cbg-icon-1 {
  width: 62px; height: 62px;
}
.cbg-icon-1.cbg-icon-sinaweibo {
  background-position: -238px -164px;width:62px;height:62px;
}
  .cbg-icon-1.cbg-icon-sinaweibo:hover {
    background-position: -238px -228px;width:62px;height:62px; 
  }
.cbg-icon-1.cbg-icon-qqweibo {
  background-position: -303px -164px;width:62px;height:62px;
}
  .cbg-icon-1.cbg-icon-qqweibo:hover {
    background-position: -303px -227px;width:62px;height:62px;
  }
/* top submenu */
.cbg-icon-2 {
  width: 55px; height: 32px;
}
.cbg-icon-2.cbg-icon-emui {
  background-position: 0px -119px;
}
  .cbg-icon-2.cbg-icon-emui:hover {
    background-position: 0px -80px;
  }
.cbg-icon-2.cbg-icon-wechat {
  background-position: -54px -120px;width:55px;height:32px;
}
  .cbg-icon-2.cbg-icon-wechat:hover {
    background-position: -54px -79px;width:55px;height:32px;
  }
.cbg-icon-2.cbg-icon-sinaweibo {
  background-position: -100px -120px;width:55px;height:32px;
}
  .cbg-icon-2.cbg-icon-sinaweibo:hover {
    background-position: -100px -80px;width:55px;height:32px;
  }
.cbg-icon-2.cbg-icon-qqweibo {
  background-position: -152px -120px;
}
  .cbg-icon-2.cbg-icon-qqweibo:hover {
    background-position: -152px -80px;
  }
.cbg-icon-2.cbg-icon-renren {
  background-position: -205px -120px;
}
  .cbg-icon-2.cbg-icon-renren:hover {
    background-position: -205px -80px;
  }

/* footer */
.cbg-icon-3 {
  width: 51px; height: 51px;
}
.cbg-icon-3.cbg-icon-sinaweibo {
  background-position: 0px -231px;
}
  .cbg-icon-3.cbg-icon-sinaweibo:hover {
    background-position: 0px -176px;
  }
.cbg-icon-3.cbg-icon-qqweibo {
  background-position: -55px -231px;
}
  .cbg-icon-3.cbg-icon-qqweibo:hover {
    background-position: -55px -176px;
  }
.cbg-icon-3.cbg-icon-wechat {
  background-position: -110px -231px;
}
  .cbg-icon-3.cbg-icon-wechat:hover {
    background-position: -110px -176px;
  }
.cbg-icon-3.cbg-icon-renren {
  background-position: -165px -231px;
}
  .cbg-icon-3.cbg-icon-renren:hover {
    background-position: -165px -176px;
  }

/* footer */
.cbg-icon-4 {
  width: 40px; height: 30px;
}
.cbg-icon-4.cbg-icon-emui {
  background-position: 0px -347px;
}
  .cbg-icon-4.cbg-icon-emui:hover {
    background-position: 0px -309px;
  }
.cbg-icon-4.cbg-icon-wechat {
  background-position: -54px -347px;
}
  .cbg-icon-4.cbg-icon-wechat:hover {
    background-position: -54px -309px;
  }
.cbg-icon-4.cbg-icon-sinaweibo {
  background-position: -100px -347px;
}
  .cbg-icon-4.cbg-icon-sinaweibo:hover {
    background-position: -100px -309px;
  }
.cbg-icon-4.cbg-icon-qqweibo {
  background-position: -152px -347px;
}
  .cbg-icon-4.cbg-icon-qqweibo:hover {
    background-position: -152px -309px;
  }
.cbg-icon-4.cbg-icon-renren {
  background-position: -205px -347px;
}
  .cbg-icon-4.cbg-icon-renren:hover {
    background-position: -205px -309px;
  }

/* Flag icons */
.cbg-icon-flag {
  display: inline-block; width: 25px; height: 15px; text-indent: -9999px; vertical-align: middle;
  background: url(../Images/img_con_base.png) no-repeat;
}
.cbg-icon-flag-china {
  background-position: -262px -461px;
}

/* Buttons */
.cbg-btn {
  background: none; border: #333 solid 1px; border-radius: 2px; padding: 0.5em 2em; text-align: center;
  cursor: pointer; font-size: 1em; font-family: "Microsoft YaHei", sans-serif;
   transition: all linear 0.2s;
}
  .cbg-btn:hover {
    color: #c52525; border-color: #c52525; background-color: #fff;
  }
.cbg-dark .cbg-btn {
  color: #ccc; border-color: #ccc;
}
  .cbg-dark .cbg-btn:hover {
    color: #fff; border-color: #fff; background-color: #333;
  }

/* breadcumbs */
.cbg-nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #FFF;
  background-color: #292A2E;
  background-image: url('../Images/nav-bg.png');
}
.cbg-nav ul, .cbg-nav li {
  display: inline-block;
}
.cbg-nav-split {
  margin: 0 10px;
  width: 11px;
  height: 11px;
  background-image: url('../Images/nav-split.png');
}
.cbg-nav .cbg-breadcrumb a {
  color: #FFF;
}
.cbg-nav .cbg-breadcrumb a:hover {
  color: #C52525;
}

/* product navigation */
.product-nav {
  position: absolute;
  top: 97px;
  left: 0;
  width: 100%;
  z-index: 900;
  display: none;
}
.cbg-localnav .product-nav {
  display: block;
}
  .product-nav.fixed {
    position: fixed; top: 0;
  }

.product-nav .top {
  position: relative;  height: 48px;
  overflow: hidden;
}
.product-nav .top .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  opacity: 0.80;
  filter: alpha(opacity=80);
}
.product-nav .breadcrumb{
  float: left;
  color: #FFF;
}
.product-nav .product-icon {
  text-indent: -9999px;
  width: 171px;
  height: 48px;
  background-position: -4px -216px;
  background-image: url(../Images/img_con_cn_sprites_cbg_1.png);
  margin-right: 15px;
}

.product-nav .operation {
  float: right; margin-right: 5%;
}
@media (max-width: 1280px) {
  .product-nav .operation {
    margin-right: 4%;
  }
}
@media (max-width: 1024px) {
  .product-nav .operation {
    margin-right: 2.5%;
  }
}
.product-nav .top ul,
.product-nav .top li {
  display: inline-block;
  line-height: 48px;
}
.product-nav .nav-split {
  margin: 0 10px;
  width: 11px;
  height: 11px;
  background-image: url(../Images/img_con_cn_sprites_cbg_1.png);
  background-position: -475px 0px;
}
.product-nav .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.product-nav .buy {
  height: 150px;
  position: relative;
  display: none;
  border-bottom: 2px solid #262320;
}
.product-nav .buy .left {
  width: 55%;
  float: left;
}
.product-nav .buy .right {
  width: 45%;
  height: 100%;
  float: left;
  position: relative;
}
.product-nav .store {
  padding-right: 20px; width: 450px; float: right; text-align: left;
}
.product-nav .channel {
  width: 380px;
  padding-left: 20px;
  height: 100%;
}
.product-nav .buy .right .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);
  background-color: #000;
}
.product-nav .buy .right li {
  display: inline-block;
}
.product-nav .buy .right a {
  text-indent: -9999px;
  display: inline-block;
  height: 30px;
  margin-top: 10px;
  background-repeat: no-repeat;
}
.product-nav .ico {
  background-image: url(../Images/img_con_cn_sprites_cbg_1.png);
  background-repeat: no-repeat;
}
.product-nav .ico-vmall {
  background-position: -375px -186px;
  width: 90px;
}
.product-nav .ico-amazon{
  background-position: -307px -128px;
  width: 90px;
}
.product-nav .ico-gome{
  background-position: -307px -183px;
  width: 60px;
}
.product-nav .ico-yhd{
  background-position: -473px -184px;
  width: 40px;
}
.product-nav .ico-tmall{
  background-position: -433px -235px;
  width: 120px;
}
.product-nav .ico-jd{
  background-position: -310px -233px;
  width: 100px;
}
.product-nav .ico-suning{
  background-position: -412px -80px;
  width: 90px;
}
.product-nav .btn-buy,
.product-nav .btn-more {
  float: left;
  position: relative;
  top: 9px;
  background-color: #333; color: #fff;
  display: block; padding: 8px 20px 8px 35px; font-size: 14px; line-height: 1em;
}
.product-nav .btn-buy:hover,
.product-nav .btn-more:hover,
.product-nav .btn-b2:hover,
.product-nav .btn-buy.active,
.product-nav .btn-more.active {
  background-color: #c52525; color: #fff;
}
.product-nav .btn-buy {
  background-image: url(../Images/img_con_cn_sprites_cbg_1.png);
  background-repeat: no-repeat;
  background-position: -505px -32px;
}
.product-nav .btn-more {
  background-image: url(../Images/img_con_cn_sprites_cbg_1.png);
  background-repeat: no-repeat;
  background-position: -505px 7px;
}
.product-nav .btn-b2{
  float: left;
  position: relative;
  top: 9px;
  background-color: #333; color: #fff;
  display: block; padding: 8px 20px 8px 22px; font-size: 14px; line-height: 1em;
}
.product-nav form .sbHolder {
  display: inline-block;
  width: 49%;
  min-width: 160px;
  text-align: left;
  font-size: 1em;
}
.product-nav form .sbSelector,
.product-nav form .sbOptions {
  width: 100%;
}
.product-nav form .sbOptions {
  max-height: 170px!important;
}
.product-nav form div.actions {
  margin-top: 1em;
  text-align: center;
}
.product-nav form input[type=submit] {
  font-size: 0.9em;
}
.product-nav h3 {
  display: block;
  padding: 1em 0 0;
  color: #fff;
  font-size: 1.2em;
  padding-bottom: 0.5em; margin-bottom: 1em;
  border-bottom: #383838 solid 2px;
}

/* back to top */
.cbg-backtotop {
  position: fixed; bottom: 50px; right: 50px; display: none;
}
  .cbg-backtotop a {
    display: block; width: 34px; height: 34px; text-indent: -9999px; background: url('../Images/img_con_cn_sprites_cbg_1.png') no-repeat; background-position: -566px -88px;
  }


/* --------------------------------------- */
/* Centered content */
.cbg div.cbg-centered {
  min-width: 1000px;
}
/* default */

.cbg-submenu {
  font-size: 0.9em;
}
/* >= 1280 */
@media (min-width: 1200px) {
  .cbg div.cbg-centered > .cbg-wrapper {
    width: 98%;
  }
} 

.ui-QR{
  position: absolute;
  margin-top: -100px;
  margin-left: -28px;
}
/* ie8 and lower version show */
.x-b-tips{
display:none;
background: #cccccc;
background-color: #c52525;
padding: 16px 0px;
}
.x-b-tips p {
color:white;
max-width: 800px;
margin: 0px auto;
font-size: 14px;
line-height: 18px;
position: relative;
padding-right: 80px;
}
.x-b-tips .close-tip {
position: absolute;
top: 0px;
right: 0px;
display: block;
height: 30px;
width: 30px;
color: #fff;
line-height: 30px;
text-align: center;
float: right;
margin-top: -7px;
}
.x-b-tips img {
height: 24px;
width: 24px;
border:0;
padding-top: 4px;
}
.y-header-border-bottom {
  border-bottom: 1px solid #d6d6d6;
}




/*hzj 2015-08-18 site-map*/


.cbg-narrow .cbg-wrapper,
.cbg-narrow.cbg-wrapper {
 /* max-width: 960px!important;*/
}


/* clean, white layout */
.cbg-clean-layout {
}
.cbg-clean-layout #cbg-main {
  padding-top: 67px;
}
.cbg-clean-layout .cbg-breadcrumbs {

}
.cbg-breadcrumbs {
  padding: 10px 0;

  border-bottom: #eee solid 1px;
  font-size:13px;
  background:#333;
}
.cbg-breadcrumbs, .cbg-breadcrumbs a{color:#fff;}
.cbg-article {
  padding: 30px 0;
}
  .cbg-article h1 {
    font-size:2em; margin-bottom: 30px;
  }
  .cbg-article h2 {
    font-size: 1.5em;
    color:#333;
  }
  .cbg-article p {
    line-height: 1.8;
    font-size:15px;
    color: rgb(51, 51, 51);
  }


/* top */
#cbg-featured-product {
  position: relative; margin: 50px auto;
}
#cbg-featured-product .cbg-image {
  float: left; width: 200px;
}
  #cbg-featured-product .cbg-image img {
    max-width: 100%;
  }
#cbg-featured-product .cbg-text {
  margin-left: 200px; margin-right: 290px; padding-top: 25px;
}
  #cbg-featured-product .cbg-text h2 {
    font-size: 1.5em; margin-bottom: 0.5em;
  }
  #cbg-featured-product .cbg-col-right {
    position: absolute; right: 0; top: 0; width: 270px; padding-top: 35px;
  }
  #cbg-featured-product .cbg-col-right li {
    margin: 0 10px;
  }

/* menu */
#cbg-main-nav > .cbg-overlay {
  opacity: 1; filter: alpha(opacity=100);
}
.main-nav-visible #cbg-support-menu {
  visibility: hidden;
}
.cbg-support-menu-fixed #cbg-main {
  padding-top: 111px; /* main nav height 67px + support menu height 44px */
}
#cbg-support-menu {
  font-size: 1.3em; padding: 0; background-color: #fff; text-align: left;
}
#cbg-support-menu.fixed {
  position: fixed; z-index: 10; left: 0; top: 61px; width: 100%;
}
  #cbg-support-menu li {
    display: inline-block; float: none; margin: 0 25px; padding: 12px 10px 10px 10px; border-bottom: transparent solid 3px;
  }
  #cbg-support-menu li:first-child {
    margin-left: 0;
  }
  #cbg-support-menu li.cbg-current {
    border-bottom-color: #c52525;
  }


/* new phone */
#cbg-new-phone {
  padding-bottom: 0!important; color: #fff; background: #272727 url(../Images/img_con_cn_newphone_bg1.png) bottom center repeat-x;
}
  #cbg-new-phone > .cbg-wrapper {
    visibility: hidden;
  }
  #cbg-new-phone .cbg-menu {
    position: relative; margin: 20px 0; font-size: 1.3em; text-align: center;
  }
  #cbg-new-phone .cbg-menu li {
    display: inline-block; position: relative; float: none; margin: 0 30px;
  }
  #cbg-new-phone .cbg-menu li a {
    display: inline-block; padding-bottom: 20px; color: #fff; background: url('../Images/icon-grey-dot.png') bottom center no-repeat;
  }
  #cbg-new-phone .cbg-menu li a:hover {
    color: #ed3131;
  }
  #cbg-new-phone .cbg-menu li.cbg-active a,
  #cbg-new-phone .cbg-menu li.flex-active a {
    color: #ed3131; background: url('../Images/icon-red-dot.png') bottom center no-repeat;
  }
  #cbg-new-phone .cbg-menu li span {
    display: block; position: absolute; left: 50%; margin-left: 11px; bottom: 6px; width: 109px; height: 1px; background-color: #fff; opacity: 0.3; filter: alpha(opacity=30);
  }
  #cbg-new-phone .cbg-menu li.cbg-active span,
  #cbg-new-phone .cbg-menu li.flex-active span {
     margin-left: 11px; width: 109px; background-color: #ed3131; opacity: 0.8; filter: alpha(opacity=80);
  }
  #cbg-new-phone .cbg-outer-slides > li {
    height: 400px;
  }
  #cbg-new-phone .cbg-outer-slides > li .cbg-wrapper {
    width: 90%; margin: 0 auto;
  }
  #cbg-new-phone .cbg-outer-slides > li .cbg-wrapper .cbg-image {
    float: left; width: 420px;
  }
    #cbg-new-phone .cbg-outer-slides > li .cbg-wrapper .cbg-image img {
      max-width: 100%;
    }
  #cbg-new-phone .cbg-outer-slides > li .cbg-wrapper .cbg-text {
    margin-left: 420px; line-height: 1.5;
  }
  #cbg-new-phone .cbg-outer-slides > li .cbg-wrapper .cbg-text ul {
    list-style-type: circle; margin: 1em 0;
  }
  #cbg-new-phone .cbg-outer-slides > li .cbg-wrapper .cbg-text ol {
    list-style-type: decimal; margin: 1em 0;
  }
  #cbg-new-phone .cbg-outer-slides > li .cbg-wrapper .cbg-text li {
    margin-left: 2em;
  }
  #cbg-new-phone .cbg-outer-slides > li .cbg-wrapper .cbg-text p {
    margin: 1em 0;
  }
  #cbg-new-phone .cbg-outer-slides > li .cbg-wrapper .cbg-text .cbg-btn {
    font-size: 1.2em; padding: 0.2em 2em;
  }
  /* override */
  #cbg-new-phone .cbg-outer-slides > li .flex-control-nav {
    width: auto; right: 5%; text-align: inherit;
  }
  #cbg-new-phone .cbg-outer-slides > li .flex-control-paging li a {
    width: 50px; height: 10px; box-shadow: none; border-radius: 0; border: none!important; border-bottom: #999 solid 4px!important; background: none;
  }
  #cbg-new-phone .cbg-outer-slides > li .flex-control-paging li a:hover {
    border-bottom-color: #fff!important;
  }
  #cbg-new-phone .cbg-outer-slides > li .flex-control-paging li a.flex-active {
    background: none!important; border-bottom-color: #c52525!important;
  }



/* simulator */
#cbg-simulator {
  border-bottom: #eee solid 1px;
}


/* troubleshooting */
#cbg-troubleshooting {
  position: relative;
}
  #cbg-troubleshooting ul.cbg-faq-list li { 
    display: block; float: left; width: 22%; padding: 0 0 20px 0; margin: 10px 2.5% 10px 0; font-size: 1.2em; height: 20px;border-bottom: #eee solid 1px;
  }
  #cbg-troubleshooting ul.cbg-faq-list-more {
    display: none;
  }
  #cbg-troubleshooting-expand.cbg-expanded {
    background-image: url('../Images/icon-expand-up.png');
  } 
#cbg-help .cbg-faq-list{line-height:1.5em;}
/* download */
#cbg-downloads {
}
  #cbg-downloads ul {
    /*border-right: #eee solid 1px;*/
  }
  #cbg-downloads ul li {
    width: 32.5%; border-right: #eee solid 1px; line-height: 1.8;
  }
  #cbg-downloads ul li.dli_double {
    width: 32.5%; border-right:none; border-left: #eee solid 1px; line-height: 1.8;
  }
  #cbg-downloads li.dli_double:after{ display: block; position: absolute; right: 0; top: 0; width: 1px; height: 100px; content: ' '; background: #eee;}
  #cbg-downloads ul li a {
  }


.cbg .cbg-centered > .cbg-wrapper {
width: 90%;
}



/*zishiying top-foot start by yqx*/
body{min-width:1100px;}
#cbg-main-nav-wrapper{min-width:1100px;}
/*zishiying top-foot end by yqx*/
.cbg-icon {
  display: inline-block; vertical-align: middle; width: 40px; height: 25px; margin-right: 2px; text-indent: -9999px;
  background: url(../Images/img_con_base.png) no-repeat;
}
/* Centered content */
.cbg .cbg-centered {
  min-width: 1000px;
}

/* >= 1280 */
@media (min-width: 1200px) {
  .cbg .cbg-centered > .cbg-wrapper {
    width: 98%;
  }
} 
/* >= 1366 */
@media (min-width: 1300px) {
  .cbg .cbg-centered > .cbg-wrapper {
    width: 90%;
  }
} 
/* default */
.cbg .cbg-centered > .cbg-wrapper {
  width: 98%; max-width: 1210px; margin: 0 auto;
}
 .cbg-icon-search {
    width: 13px;
    height: 16px;
    background-position: -83px -428px;
  }
  .cbg-icon-search:hover {
    background-position: -83px -448px;
  }


/*login*/
.fl{ float: left; }
.cbg ul.cbg-inline > li.login-not{ margin-left: 25px;}
.cbg ul.cbg-inline > li.login{ margin-left:10px;}
#cbg-main-nav-wrapper .login-not a{ color: #666;}
.cbg ul.cbg-inline > li.login-not a{ padding: 0; }
#cbg-main-nav-wrapper .login-not > a > span{ border: none; }
.cbg-icon1.login-icon{background-position: -159px -2127px;width:22px;height:22px;}
#cbg-main-nav li.login > a > span {display: block; padding-bottom: 14px;border-bottom: transparent solid 3px;}
#cbg-main-nav li.login.cbg-current > a > span { color: #c52525; border-bottom-color: #c52525; display:block; height:35px;}
#cbg-main-nav .login>a{ height: 67px; line-height: 67px; }
#cbg-main-nav .login>a>span{ height: 37px; line-height: 37px; margin-top: 15px; }
#cbg-main-nav #headerLoginNot.cbg-current > a > span{ color: #333;}
#cbg-main-nav #headerLoginNot.cbg-current > a:hover > span{ color: #c52525;}

#cbg-main-nav-wrapper.fixed #cbg-main-nav li.login > a > span { height: 35px; line-height: 37px; padding-bottom: 11px; margin-top: 12px;}
.cbg-icon1.login-pulls{background-position: -197px -2147px;width:9px;height:5px; margin: 0 0 0 5px; overflow: hidden;}
.cbg-submenu.cbg-2cols ul.cbg-wrapper > li.data {width: 40%;padding: 2em 1.5% 3em 1.5%;}
.cbg-submenu.cbg-2cols ul.cbg-wrapper > li.from {width: 20%;padding: 2em 1.5% 3em 1.5%;}
.cbg-submenu.cbg-2cols .col-product div.data-img {width: 109px;height: 109px;padding:120px 0 0; margin-right: 20px; float:left;}
.cbg-submenu.cbg-2cols .col-product div.data-img img, .cbg-submenu.cbg-2cols .col-product div.data-img .default-avatar{ width: 109px;height: 109px;}
.top-sbmenu-login .from-img a{ display: block;}
.top-sbmenu-login .from-img a:hover .fm-icon{ background-position: -217px -2045px;}
.top-sbmenu-login .from-img a:hover .puse-icon{ background-position: -289px -2045px;}
.top-sbmenu-login .from-img a .wd{ color: #a5a5a5;}
.top-sbmenu-login .from-img a:hover .wd{ color: #fff; }
.cbg-submenu.cbg-2cols .col-product div.data-img img{ border: solid 2px #939393; border-radius: 100%;}
.cbg-submenu.cbg-2cols .col-product div.data-img .default-avatar{}
.cbg-submenu.cbg-2cols .col-product div.data-img .default-avatar{ display: inline-block; background: url(../Images/img_con_base.png) -324px -1291px;}.cbg-submenu.cbg-2cols .col-product div.data-information{float:left; padding: 132px 0 90px; height:100px;}
.top-sbmenu-login .data-info-hd{ height: 26px; line-height: 26px; font-size:16px;color:#fff; overflow: hidden;}
.top-sbmenu-login .name-td{ float: left;}
.top-sbmenu-login .name-td a{ float: left; max-width: 180px; margin-right: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.top-sbmenu-login .name-td .name:hover{ color: #d71010;}
.top-sbmenu-login .btn-loginout{ float: right; vertical-align: 2px; font-size:0.8em;text-decoration: underline;}
.cbg-submenu.cbg-2cols .col-product div.data-information .data-status{height:25px;line-height:25px;text-align:left;margin-top:35px;font-size:14px;}
#topUserInfos>li{ padding-top: 0; padding-bottom: 0; height: 350px;}
#topUserInfos .col-sns .cbg-content{ padding-top: 60px;}
#topUserInfos .from .wd{ position: relative;}
#topUserInfos .from .wd i{ display: none; position: absolute; left: 100%; top: 4.5px; font-family: Simsun, Arial;}
.cbg-icon1.da-phe{background-position: -98px -2127px;width:25px;height:25px;vertical-align: middle;color:#4f4d4c;}
.cbg-icon1.da-eml{background-position: -130px -2127px;width:25px;height:25px;vertical-align: middle;color:#4f4d4c;}
.top-sbmenu-login .data-status .email{ margin: 0 10px;}
.top-sbmenu-login .data-status .not-passed{ color: #5a5857;}
.top-sbmenu-login .status-item:hover .not-passed{ color: #ccc;}
.top-sbmenu-login .status-item:hover .not-passed .da-phe{ background-position: -98px -2158px;}
.col-5a{color:#5a5857;}
.col-a5{color:#a5a5a3;padding-left:10px;}
.cbg-submenu.cbg-2cols .col-product div.from-img{width: 50%;height: 100px;padding:10.5em 0 6em 0;float:left;}
.cbg-submenu.cbg-2cols .col-product div.from-img p{font-size:16px;}
.top-sbmenu-login.cbg-2cols .col-product p{ margin-top: 0;}
.top-sbmenu-login.cbg-2cols .col-product div.from-img{ padding-top: 120px;}
.cbg-icon1.fm-icon{background-position: -217px -2123px;width:71px;height:77px;vertical-align: middle;}
.cbg-icon1.puse-icon{background-position: -289px -2123px;width:71px;height:77px;vertical-align: middle;}
.login-not .s-line{ float: left; width: 1px; height: 14px; line-height: 222; margin-top: 28px; overflow: hidden; background: #999;}
#cbg-main-nav-wrapper.fixed .s-line{ line-height: 61px; margin-top: 25px;}
.p-puse i{background-color:red;border-radius:10px;display:inline-block;margin-left:4px;font-style: normal;width:15px;height:15px;line-height:15px;color:#fff;text-align:center;font-size:10px;padding:0px;}
@media (max-width: 1200px){
.cbg-submenu.cbg-2cols .col-product div.data-img {width: 122px;height: 122px;padding:7em 0;float:left;}
.cbg-submenu.cbg-2cols .col-product div.data-img img{width: 122px;height: 122px; border-radius: 86px;}
.cbg-submenu.cbg-2cols .col-product div.data-information .name{font-size:1.4em;color:#fff;}
.cbg-submenu.cbg-2cols .col-product div.data-information{float:left;padding:8.9em 0;height:100px;}
.cbg-submenu.cbg-2cols .col-product div.data-information .data-status{height:25px;line-height:25px;text-align:left;margin-top:40px;font-size:12px;}
}
#cbg-main-nav li.login .name-id{ overflow: hidden;
    width: 85px;
    white-space: nowrap;vertical-align: top;
    text-overflow:ellipsis;font-size:16px;font-weight:normal;display: inline-block; vertical-align: middle; font-size: 14px;}


/* Nav Media */
@media (max-width: 1366px){
	#cbg-main-nav li > a{ padding: 0 12px;}
    .cbg ul.cbg-inline > li.login-not{ margin-left: 20px;}
    #cbg-main-nav-search .cbg-icon-search{ left: 0;}
}
@media (max-width: 1200px){
    #cbg-main-nav li > a{ font-size: 15px;}
}
@media (max-width: 1180px){
    #cbg-main-nav li > a{ padding: 0 9px;}
}
/* Footer */
    .g-foot-able{ height: 65px; line-height: 65px; border-bottom: solid 1px #343434; background: url(../Images/img_con_cn_repeat.png) #262626;}
    .g-foot-able .able-inner, .g-foot-able .able-inner a{ color: #e2e2e2;}
    .g-foot-able .able-item{ float: left; position: relative; z-index: 11; height: 65px;}
    .g-foot-able a.tit:hover{ color: #fff;}
    .g-foot-able .line{ float: left; margin: 15px 6% 0; width: 1px; height: 35px; overflow: hidden; font-size: 0; background: #2e2e2e;}
    .g-foot-able .able-item .tit{ float: left; font-size: 16px; font-weight: 700;}
    .g-foot-able .able-item i{ display: block; position: absolute; left: 0; top: 0;}
    .g-foot-able .able-item-service i{ width: 31px; height: 31px; top: 17px; background-position: -356px -1525px;}
    .g-foot-able .able-item-service .tit{ padding-left: 41px;}
    .g-foot-able .able-item-service .intro{ float: left; line-height: 20px; padding: 12.5px 0 0 30px;}
    .g-foot-able .able-item-service .tel{ font-size: 15px;}
    .g-foot-able .able-item-service .time{ font-size: 11px; transform: scale3d(1, .9, .9); -webkit-transform: scale3d(1, .9, .9);}
    .g-foot-able .able-item-wx .qrcode{ display: none; position: absolute; left: .5px; top: -120px; padding: 5px; border: solid 1px #999; box-shadow: 0 0 4px rgba(0,0,0,.5); background: #fff;}
    .g-foot-able .able-item-wx b{ display: block; width: 108px; height: 108px; background-position: -109px 0;}
    .g-foot-able .able-item-wx .tit:hover .qrcode{ display: block;}
    .g-foot-able .able-item-wx i{ width: 45px; height: 38px; top: 13.5px; background-position: -310px -1525px;}
    .g-foot-able .able-item-wx .tit{ padding-left: 55px;}
    .g-foot-able .able-item-online i{ width: 35px; height: 34px; top: 16.5px; background-position: -274px -1525px;}
    .g-foot-able .able-item-online .tit{ padding-left: 45px;}
    .g-foot-able .able-item-retail i{ width: 22px; height: 31px; top: 17px; background-position: -251px -1525px;}
    .g-foot-able .able-item-retail .tit{ padding-left: 32px;}
    @media (max-width: 1300px){
        .g-foot-able .line{ margin-left: 4%; margin-right: 4%;}
    }
    	/* support foot able */
    		.g-foot-able-sup .line{ margin-left: 4%; margin-right: 0;}
			.g-foot-able-sup .able-items{ float: right; width: 56%; height: 65px; text-align: justify;}
			.g-foot-able-sup .able-items:after{ display: inline-block; width: 100%; height: 0; overflow: hidden; content: ' ';}
			.g-foot-able-sup .able-items .able-item{ display: inline-block; float: none;}
    	    .g-foot-able-sup .able-item-sup i{ width: 34px; height: 34px; top: 15.5px; background-position: -388px -1525px;}
    		.g-foot-able-sup .able-item-sup .tit{ padding-left: 44px;}
    		.g-foot-able-sup .able-item-qus i{ width: 29px; height: 34px; top: 15.5px; background-position: -423px -1525px;}
    		.g-foot-able-sup .able-item-qus .tit{ padding-left: 39px;}
    /* Foot Share */
    .m-share .share-inner{ width: 120%;}
    .m-share .dt{ margin-bottom: 20px;}
    .m-share .ico-item{ float: left; position: relative; z-index: 12;}
    .m-share i{ display: inline-block; line-height: 222px; overflow: hidden;}
    .m-share .share-us i{ width: 61px; height: 61px;}
    .m-share .share-us .ico-item-sina{ margin-right: 27px;}
    .m-share .share-us .ico-sina{ background-position: -238px -164px;}
    .m-share .ico-item-sina:hover i{ background-position: -238px -228px;}
    .m-share .share-us .ico-wx{ background-position: -303px -164px;}
    .m-share .share-us .ico-item-wx:hover i{ background-position: -303px -227px;}
    .m-share .share-club i{ width: 34px; height: 30px; opacity: .8;}
    .m-share .share-club i:hover{ opacity: 1;}
    .m-share .share-club .ico-sina{ background-position: -112px -85px;}
    .m-share .share-club .ico-club{ background-position: -8px -85px;}
    .m-share .share-club .ico-wx{ background-position: -65px -85px;}
    .m-share .share-us{ margin:0 0 25px 0;}
    .m-share .share-club .ico-item-wx{ margin:0 40px;}
    .m-share .qrcode{ display: none; position: absolute; padding: 5px; background: #fff;}
    .m-share .share-club .qrcode{ top: -101px; left: -27px;}
    .m-share .share-club .qrcode b{ display: block; width: 79px; height: 79px; background-position: -218px 0; cursor: default;}
    .m-share .share-us .qrcode{ top: -126px; left: -30px; border: solid 1px #999; box-shadow: 0 0 4px rgba(0,0,0,.5);}
    .m-share .share-us .qrcode b{ display: block; width: 108px; height: 108px;}
    .m-share a:hover .qrcode{ display: block;}
 /**APK_statr**/
 .support-search-apk-left {
float: left;
width: 545px;
height: 120px;
background: url(../Images/img_dev_en_support_search_righ.jpg) no-repeat 0px 0px;
position:relative;
}
.support-search-apk {
height: 107px;
margin-top:20px;
}
.support-search-apk-left-content {
position: absolute;
width: 515px;
height: 77px;
padding: 15px;
background: #fff;
}
.support-search-apk-left-content .p1 {
color: #333;
padding-bottom: 10px;
font-size: 14px;
}
.support-search-apk-left-content .p2 .span-2 {
height: 25px;
width: 50px;
padding-left: 20px;
cursor: pointer;
}
.support-search-apk-right {
float: right;
width: 545px;
height: 120px;
background: url(../Images/img_dev_en_support_search_righ.jpg) no-repeat 0px 0px;
}
.support-search-apk-right-content {
position: absolute;
width: 515px;
height: 77px;
padding: 15px;
}
.support-search-apk-right-content .p1 {
color: #333;
padding-bottom: 10px;
font-weight: normal;
font-size: 14px;
}

.support-search-apk-right-content .ul .li {
float: left;
display: inline;
width: 177px;
margin-right: 30px;
}


/*apk hzj*/
.support-search-apk-left .apkrel_prodocuts {
  position: absolute;
  width: 410px;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  height: auto;
  z-index: 2;
  top:74px;
  left:16px;
}
.support-search-apk-left .apkrel_prodocuts a {
  display: block;
  line-height: 2em;
  padding-left: 1em;
  background: #fff;
}

/*product support manuals*/
.product-support-manuals-apk{padding-top:10px;}
.product-support-manuals-apk .ul-01{ padding-bottom:0px;}/*2013-01-14 update*/
.product-support-manuals-apk .ul-01 .li{ height:auto; padding-left:16px; border-bottom:none;padding:10px 0 0 0;width:1000px; }/*2013-01-07 update*/
.product-support-manuals-apk h2 {
padding: 13px 0 7px 0;
color: #BF1000;
font-size: 14px;
}
.product-support-manuals-apk h2 a{ color:#BF1000; font-weight:normal; }
.product-support-manuals-apk h2 a:hover{ text-decoration:underline;} /*2013-01-07 add*/
.product-support-manuals-apk .p-1{ height:18px; line-height:18px; padding-bottom:0px; font-size:12px; -webkit-text-size-adjust: none;}
.product-support-manuals-apk .p-1 .span-1{ padding-left:18px; background: url(../Images/product_support_download_05.jpg) no-repeat 0px;}/*2013-01-08 update*/
.product-support-manuals-apk .p-1 .span-2{ padding-left:18px; margin-left:12px; background: url(../Images/img_dev_en_common_jpg.jpg) no-repeat -380px -1506px;}/*2013-01-08 update*/



.container-apk {
padding: 10px 0px 30px 0px;
font-size:14px;
}
.container-apk .cont-apk-summary{line-height:24px;}
.w435{width:400px;}
.search-apk-others {
padding: 20px 20px 100px 20px;
text-align: left;
background-color: white;

}
.search-apk-others h2 {
color: #999999;
font-size: 14px;
font-family: "Microsoft Yahei","Heiti SC","SimHei","SimSun", Arial, Helvetica, sans-serif;

}
.container-apk h1{font-size:20px;}
.container-apk .p-1{margin-top:10px;}
.container-apk table td{padding:10px 10px;line-height:24px;}
.brd-cc{ background:#dfdfdf;color:#333;}
.container-1{ background-color:#FFF; width: 1210px; margin: 0 auto; z-index:9999;}
.container-1-a{width:100%; margin: 0 auto; z-index:9999; background-color:#FFF; }
.pbbanner{ padding-bottom:5px;}
.container-2{ padding: 0 0 4px 0; width: 960px; margin: 0 auto;}
 /**APK_end**/
 
 /*
 * passport pages
 * zhw  
*/

/* register */
.passport-ifm{ margin: auto; overflow: hidden;}
.passport-ifm iframe{ width: 100%; height: 100%;} 
.passport-ifm-reg{ height: 1288px;}
.passport-ifm-eula{ height: 3780px;}
.passport-ifm-policy{ height: 3500px;}
.passport-reg-ifm-log{ height: 600px;}

/* user center */
.p-comifm-top{ position: absolute; width: 100%; line-height: 34px; background: #333;}
.p-comifm-top, .p-comifm-top a{ color: #999;}
.p-comifm-top a:hover{ color: #ccc;}
.p-comifm-top .w{ width: 1000px; margin: auto;}
.p-comifm-top .col-r{ float: right;}
.p-comifm-top .col-r .line{ display: inline-block; width: 1px; height: 14px; margin: 0 20px; font-size: 0; overflow: hidden; background: #999; vertical-align: -2px;}
.com-ifm{ margin: auto;}
.com-ifm iframe{ width: 100%; height: 100%;}
.com-ifm-index iframe{ margin-top: 0;}
.com-ifm-plicy{ height: 3350px;}
.com-ifm-eula{ height: 4450px;}
.com-ifm-repwd{ height: 700px;}
.com-ifm-email-agreement{ height: 29100px;}
.com-ifm-faq{}  

.passport-ifm-user{ height: 100%;}
.passport-ifm{ margin: auto;}
.product-support-manuals-apk #product-support-manuals-ul .p-1 .span-1{ padding-left:0px;;}/*20160812*/
#product-support li h2 {padding: 13px 0 7px 0;color: #BF1000;font-size: 14px;}/*20160812*/